.body {
  margin: 0;
  padding: 0; 
}

.Table {
  margin-left: 19%;
  margin-right: 19%;
  margin-top: 200px;
  font-size: 7px;
  font-family: Helvetica, sans-serif;
}


.Table-II {
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 25px;
  font-size: 7px;
  font-family: Helvetica, sans-serif;
}

.Simbolo {
  font-size: 20px;
  font-weight: bold;
}

.Gases-Nobles {
  background-color: #1FAAE3;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Halógenos {
  background-color: #1FAAE3;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.Halógenos2 {
  background-color: #1FAAE3;
  text-align: center;
  border-radius: 5px;
  padding-right: 6px;
  padding-left: 6px;
}

.No-Metales {
  background-color: #5BB143;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Metaloides {
  background-color: #92C025;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Otros-Metales {
  background-color: #F3E736;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Metales-de-Transición {
  background-color: #F8B03A;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Alcalinotérreos {
  background-color: #B23A8D;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Metales-Alcalinos {
  background-color: #B23A8D;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Lantánidos {
  background-color: #EF7D26;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.Actínidos {
  background-color: #EB5B26;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}